.max-600{
    max-width: 600px;
}
header{
    background-image: url("../images/bg-header-desktop.png");
    background-position: center;
    background-size: cover;
}
@media (max-width:576px) {
    .btnhead{
        margin-bottom: 15px;
    }   
}
@media (min-width:576px) {
    .btnhead{
        margin-bottom: 0;
        margin-right: 10px;
    }   
}
.wimage{
    width: 80px;
    height: 80px;
}